@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  color-scheme: dark;
}

/* Force Tailwind to map 'dark:' to the '.dark' class only */
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}
